$font-family: "Barlow Condensed", sans-serif;
$color-primary: #111;
$color-secondary: #e8e8e8;
$color-background: #fdfdfd;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 700 16px $font-family;
    color: $color-primary;
}

body,
html {
    scroll-behavior: smooth;
    color: $color-primary;
    background-color: $color-background;
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    transition: background-color 0.5s ease;
}

/* List Items */
li {
    list-style: none;
}

/* Scrollbars */
.disable-scrollbars {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent;
    /* Chrome/Safari/Webkit */
    width: 0px;
}

/* Main Section */
main {
    display: flex;
    flex-direction: column;
    align-items: start;
    align-content: center;
    width: 40%;
    padding-left: 30px;
    z-index: 1;
    opacity: 0;
    transition: opacity 1s ease 1s;

    @media screen and (max-width: 625px) {
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 0;
    }
}

/* Watch Items */
.watch-item {
    height: auto;
    width: auto;
}

.watch-name {
    text-decoration: none;
    font-size: 5rem;
    text-transform: uppercase;
    line-height: 90%;
    font-weight: bold;
    display: block;
    color: $color-secondary;
    height: auto;
    transition: color 1s ease, transform 0.5s ease, font-size 0.4s ease;
    cursor: default;

    @media screen and (max-width: 1440px) {
        font-size: 4rem;
    }

    @media screen and (max-width: 1024px) {
        font-size: 3.5rem;
    }

    @media screen and (max-width: 768px) {
        font-size: 2.7rem;
    }

    @media screen and (max-width: 625px) {
        opacity: 0;
    }
}

.watch-name.is-active {
    transition: color 1s ease, transform 0.5s ease, font-size 0.4s ease, opacity 1s ease;

    @media screen and (max-width: 625px) {
        opacity: 1;
    }
}

.watch-image-container {
    position: fixed;
    top: 0;
    right: 0;
    width: 60%;
    height: 100%;
    padding: 20px 20px 40px;
    transition: opacity 1s ease;
    opacity: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 625px) {
        width: 100%;
        top: -50px;
    }
}

.watch-image {
    height: 70%;
    width: 70%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

/* Footer */
footer {
    height: 30px;
    position: fixed;
    bottom: 5px;
    right: 20px;
    opacity: 0;
    transition: opacity 1s ease 1s;

    p {
        font-weight: lighter;
        color: $color-secondary;
    }

    a {
        text-decoration: none;
    }
}

/* Hide */
.hide {
    display: none;
}

/* Landing Screen */
#landing-screen {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;

    h1 {
        font-size: 6rem;
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: 100px;

        @media screen and (max-width: 1024px) {
            font-size: 4rem;
        }

        @media screen and (max-width: 768px) {
            font-size: 3.5rem;
        }

        @media screen and (max-width: 625px) {
            font-size: 2.5rem;
        }

        @media screen and (max-width: 420px) {
            font-size: 2rem;
        }
    }

    #mouse {
        width: 3rem;
        height: 5rem;
        border: 0.3rem solid $color-primary;
        border-radius: 3rem;
        position: relative;

        #mousewheel {
            width: 0.9rem;
            height: 0.9rem;
            background-color: $color-primary;
            border-radius: 50%;
            margin: auto;
            margin-top: 0.4rem;
            animation: mousewheelLoop 3s ease infinite;
        }

        #arrow-down {
            transform: rotate(90deg);
            margin-top: 10px;
            animation: blinking 2s ease infinite;
        }
    }
}

@keyframes mousewheelLoop {
    0% {
        transform: translateY();
    }

    50% {
        transform: translateY(0.8rem);
    }

    100% {
        transform: translateY();
    }
}

@keyframes blinking {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}